NET "led_data<0>"  LOC = P79 | IOSTANDARD = LVTTL;
NET "led_data<1>"  LOC = P81 | IOSTANDARD = LVTTL;
NET "led_data<2>"  LOC = P83 | IOSTANDARD = LVTTL;
NET "led_data<3>"  LOC = P85 | IOSTANDARD = LVTTL;
NET "led_data<4>"  LOC = P88 | IOSTANDARD = LVTTL;
NET "led_data<5>"  LOC = P93 | IOSTANDARD = LVTTL;
NET "led_data<6>"  LOC = P95 | IOSTANDARD = LVTTL;

NET "user_button<0>" LOC = P35 | IOSTANDARD = LVTTL;
NET "user_button<1>" LOC = P33 | IOSTANDARD = LVTTL;
NET "user_button<2>" LOC = P30 | IOSTANDARD = LVTTL;
NET "user_button<3>" LOC = P14 | IOSTANDARD = LVTTL;
NET "user_button<4>" LOC = P11 | IOSTANDARD = LVTTL;
NET "user_button<5>" LOC = P9 | IOSTANDARD = LVTTL;
NET "start_button<0>" LOC = P58 | IOSTANDARD = LVTTL;